<div class="clearfix toolbar-container-wrapper">
  <div class="container">
    <div class="text-right toolbar-row row hidden-print">
      <div class="col-md-24 row-toolbar-col">
        <ul class="list-inline">
          <li><a class="toolbar-link toolbar-manage-cookies dropdown-toggle"><i class="fa fa-wrench"></i> {{ i18n "navbar-manage-cookies-label" }}</a></li>
          {{ if gt (len .AllTranslations) 1 }}
          <li class="language-selector dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="fa fa-globe"></i>
              <span> {{ .Language.LanguageName }}</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {{ range .AllTranslations }}
              <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
              {{ end }}
            </ul>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>